<!-- START:head -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
<!-- START_HIGHLIGHT -->
  <%= stylesheet_link_tag 'scaffold', 'depot' %>
<!-- END_HIGHLIGHT -->
</head>
<!-- END:head -->
<body>

  <p style="color: green"><%= flash[:notice] %></p>
  <div id="columns">
    <br />
  	<% if session[:user_id] %>
  		Logged in as: <%= @current_user %>  |
  		<em><%= link_to 'logout', :controller => 'admin', :action => 'logout' %></em> |
		<%= link_to 'albums', :controller => 'albums' %> |
		<%= link_to 'artists', :controller => 'artists' %> | 
		<%= link_to 'users', :controller => 'users' %> 
	<% else %>
		<%= link_to 'login', :controller => 'admin', :action => 'login' %> |
		<%= link_to 'sign in', new_user_path %> 
	<% end %>
  </div>
  <br />

<%= yield  %>

</body>
</html>
